/* UNIVERSAL STYLE */

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

.site-container {
  width: 960px;
  display: flex;
  border: 3px solid green;
}



/* HEADER */

.logo {
  background-color: black;
  display: flex;
  justify-content: center;
}

.logo__img {
  height: 1.5rem;
  margin-left: 0.5rem;
  align-self: center;
}

.logo__name {
  margin-left: 1rem;
  padding: 0.66rem 0;
}
